.notfound {
  width: 100vw;
  background: var(--color-sec);
  color: var(--color-sec);
}

.textoPage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  background-image: linear-gradient(to right bottom, #004c9c4d, #00285a4d),
    url("notfound.jpeg");
  background-size: cover;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.712);
}

.logo {
  width: 20%;
  margin-left: 2rem;
}

.title,
.titleP {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.titleP {
  color: var(--color-main);
  margin-left: 10rem;
  margin-right: auto;
}

.message {
  font-size: 2rem;
  width: 70rem;
  text-align: center;
  margin-bottom: 2rem;
}

.homeButton {
  padding: 10px 20px;
  background-color: var(--color-main);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.8rem;
  transition: background-color 0.3s;
}

.homeButton:hover {
  background-color: #0056b3;
}
