.container {
  color: #343a40;
  font-family: "Inter", sans-serif;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.table {
  width: 800px;
  margin-top: 100px;
  /* border: 1px solid #343a40;*/
  border-collapse: collapse; /* junta los border */
}
.table th tr {
  width: 25%;
}

.table thead th {
  background: #087f5b;
  color: #fff;
}
.table tbody tr:nth-child(odd) {
  background: #f8f9fa;
}
.table tbody tr:nth-child(even) {
  background: #e9ecef;
}

.table th,
.table td {
  padding: 16px 24px;
  text-align: left;
}
