.pageHeader {
  width: 100%;
  margin-bottom: 5rem;
  padding: 2rem 0;
  background: #fff;
  display: flex;
  justify-content: space-around;
}

.container {
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
}
.table {
  background: #fff;
  width: 100;

  /* border: 1px solid #343a40;*/
  border-collapse: collapse; /* junta los border */
  font-size: 1.4rem;
  border: 1px solid var(--bg-color-active);
}
.table th tr {
  width: 25%;
}

.table thead th {
  background: var(--bg-color-active);
  color: #fff;
}
.table tbody tr:nth-child(odd) {
  background: #fff;
}
.table tbody tr:nth-child(even) {
  background: #004b9c85;
  color: #fff;
}

.table th,
.table td {
  padding: 1.6rem 2.4rem;
  text-align: left;
}

.subtitle {
  font-size: 2.42rem;
  font-family: "open sans" sans-serif;
  text-align: right;
  margin-bottom: 1.7rem;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: center; /* Alinea los botones horizontalmente en el centro */
  align-items: center; /* Alinea los botones verticalmente en el centro */
}

.actions button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.icon_mobile {
  color: var(--color-main);
}
