.grid_container {
  display: grid;
  grid-template-columns: 2fr;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
  background: #fff;
}

.grid_container_2col {
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
  background: #fff;
}

.grid_container_imgChurch {
  background-image: linear-gradient(to right bottom, #004c9c4d, #00285a4d),
    url("../../../public/church-ver2.jpg");
  background-size: cover;
  background-position: top center;
}
.grid_container_imgTicket {
  background-image: linear-gradient(to right bottom, #004c9c4d, #00285a4d),
    url("../../../public/church-ver2.jpg");
  background-size: cover;
  background-position: top center;
}
.grid_container_imgPeople {
  background-image: linear-gradient(to right bottom, #004c9c4d, #00285a4d),
    url("../../../public/church-ver2.jpg");
  background-size: cover;
  background-position: top center;
}

.subtitle {
  font-size: 2.42rem;
  font-family: "open sans" sans-serif;
  text-align: right;
  margin-bottom: 1.7rem;
}

.grid_container_text {
  padding: 3rem;
}

.grid_container_text > h3 {
  font-size: 2.4rem;
  font-family: "open sans" sans-serif;
  margin: 0.7rem 0;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.42857143;
  text-align: left;
}

.grid_container_text > p {
  font-size: 1.5rem;
  line-height: 1.02;
  margin-bottom: 3.6rem;
  text-align: left;
}

.formChurch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.5rem;
  row-gap: 1.5rem;
}
.formEvento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4.5rem;
  row-gap: 1.5rem;
}

.formChurch label,
.formEvento label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: left;
}

.formChurch input,
.formChurch select,
.formChurch textarea,
.formEvento input,
.formEvento select,
.formEvento textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background: #004b9c85;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.formDate {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
}
.formChurch > .btn_form,
.formEvento > .btn_form {
  align-self: end;
  font-family: inherit;
  background: var(--bg-color-active);
  color: #fff;
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background 0.5s;
}

.formChurch > .btn_form:hover {
  background: #004b9c85;
  color: var(--color-title);
}

/* 
.error_msg {
  color: red;
}

 */

.modalMain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.685);
  z-index: 10;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;

  width: 70%;
}

.subtitleModal {
  display: none;
}
